# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore
.git
.gitignore

# Project-specific files that aren't needed on GCP
Makefile
*.proto
README.md
cmd/
config/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
out

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
